<h3>Yangi parolni kiriting</h3>
<p>Yangi parolni 2 marta kiritib tugmachani bosing</p>
<form method="POST">
{% csrf_token %}
{% comment %} <ul>
    <li>Parolingiz boshqa shaxsiy ma'lumotlaringizga juda o'xshash bo'lishi mumkin emas.</li>
    <li>Parolingizda kamida 8 ta belgi bo'lishi kerak.</li>
    <li>Sizning parolingiz odatda ishlatiladigan parol bo'lishi mumkin emas.</li>
    <li>Parolingiz to'liq raqamli o'lishi mumkin emas.</li>
</ul> {% endcomment%}
{{ form }}
<input type="submit" name="Update_password" value="OK">
</form>